@import '../global';


.screen{
    width: 1440px;
    display: flex;
    color: #0B0E14;
    font-family: 'Montserrat';
    justify-content: space-between;
    // padding: 0 20px;
    .screen-left{
        width: 864px;
        padding: 50px 11px 50px 50px;
        
        .screen-title{
           @include title();
        }

        .screen-text{
            @include grey-text();
            padding-right: 100px;
        }

        .left-box-cards{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            .box-card{
                width: 50%;
                height: 250px;

                p{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 130%;
                    text-align: justify;
                    padding-right: 80px;
                }

                button{
                    width: 150px;
                    height: 50px;
                    @include gb_btn();
                }
            }

        }
        
    }

    .screen-right{
        width: 525px;
    }

}

@media (min-width: 1200px) and (max-width:1440px){
    .screen{
        width: 100%;

    }
}

@media (min-width: 992px) and (max-width:1199px){
    .screen{
        width: 100%;

    }
}
@media (min-width: 768px) and (max-width:991px){
    .screen{
        width: 100%;

        .screen-left{
        width: 800px;
        }

    }
}

@media (min-width: 576px) and (max-width:767px){
    .screen{
        width: 100%;
        display: block;

        .screen-left{
            width: 90%;
        }

        .screen-right{
            width: 100%;
        }
    }
}

@media (max-width:576px){
    .screen{
        width: 100%;
        display: block;

        .screen-left{
            width: 90%;

            .left-box-cards{

                display: flex;
                flex-wrap: wrap;
                flex-flow: column-reverse;

                .box-card{
                    padding-top: 30px;
                    width: 100%;

                    button{
                        width: 100%;
                    }
                }
            }
        }

        .screen-right{
            width: 100%;
        }
    }
}