.navbar {
  display: flex;
  width: 1440px;
  max-width: 1440px;
  font-family: 'Montserrat';
  // border: 1px solid red;
  // border-right: 20px solid #0B0E14;
  
  .navLeft {
    width: 59.7%;
    // max-width: 61%;
    display: flex;
    padding:20px 15px 0 50px;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;

    .navTitle {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      margin-left: 10px;
      cursor: pointer;
    }

  }

  .navRight {
    padding:0 20px;
    width: 33.5%;
    max-width: 34.7%;
    background-color: #0B0E14;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // border: 1px solid green;

    ul {
      color: white;
      list-style: none;
      font-weight: 600;
      font-size: 16px;
      margin-top: 40px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);

      li:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  .sidebarNav{
    display: none;
  }

  .sidebar{
    
    // position: absolute;
    float: right;
    width: 60%;
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: none;
    align-items: center;
    text-align: center;
    
    .sidebar-link{
      padding: 100px 20px;
    }
    .x-btn{
      float: right;
      margin-right: 15px;
    }
  }
}

@media (min-width:1200px) and (max-width:1440px){
  .navbar{
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .navbar{
      width: 100%;

  }
}
@media (min-width: 767px) and (max-width: 991px){
  .navbar{
    width: 100%;

    .navLeft{
      width: 120%;
    }

    .navRight{
      width: 40%;
    }

  }
}

@media (max-width: 766px){

  .navbar{
    width: 100%;

    .navLeft{
      width: 80%;
      border-left: none;

      .select{
        display: none;
      }
    }
    
    .navRight{
      display: none;
    }
    .sidebarNav{
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 575.98px){

  .navTitle{
    display: none;
  }
  .navbar{
    width: 100%;
    border-left: none;
    border-right: none;

    .navLeft{
      width: 70%;

      .select{
        display: none;
      }
    }
    
    .navRight{
      display: none;
    }
  }
}