@import '../Home/global';

.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    .left{
          width: 62%;
        .title{
            @include title();
        }
        img{
            width: 100%;
        }

        p{
            @include text();
        }
    }
    .right{
        width: 35%;

        img{
            width: 100%;
        }
        
        p{
        
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            color: #0B0E14;
            
        }
    }
    .b_bottom{
        width: 100%;

        p{
            @include text();
        }
    }
}
@media (max-width:767px){
    .bottom{
        display: block;
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
        }
    }
}