@import '../Home/global';
.imgPosts{
    width: 100%;

    p{
        @include title();
    }

    .someClass{

        .d_img{
            display: flex;
        }

        span{
            @include text();
        }
    }

}

@media (max-width:596px){
    .imgPosts{
        .posts{
            img{
                width: 100%;
            }
        }
        .someClass{
            .d_img{
                display: flex;
                flex-wrap: wrap;
                img{
                    width: 100%;
                }
            }
        }
    }
}