@import '../global';

.aboutUsMore{
    // width: 1440px;
    overflow-y: hidden;


    .aboutUsMore-top{
        display: flex;
        width: 100%;
        height: 220px;
        background-color: white;
        margin-top: -100px;
        overflow: hidden;
        padding-top: 85px;

        .aboutUsMore-left{
            width: 864px;
            margin-left: 50px;

            .title{
                margin-top: 50px;
                @include title();
            }
        }


        .aboutUsMore-right{
            width: 519px;
        }
    }
}

@media (min-width:1200px) and (max-width:1440px){

}


@media (min-width:992px) and (max-width:1199px){
    .aboutUsMore{
        width: 100%;

        .aboutUsMore-top{
            height: 200px;

            .aboutUsMore-left{
                width: 864px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .aboutUsMore{
        width: 100%;

        .aboutUsMore-top{
            height: 200px;
        }
    }
}

@media (max-width: 767.98px){
    .aboutUsMore{
        width: 100%;

        .aboutUsMore-top{
            height: 200px;

            .aboutUsMore-left{
                width: 100%;
            }
            .aboutUsMore-right{
                display: none;
            }
        }
    }
}